<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= @post.user.email%></strong> <small>at</small> <small><%= @post.updated_at %></small>
          <br>
          <%= @post.title %>
          <br>
            <%= @post.content %>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <%= link_to "back", :back, {:class => "level-item"} %>
        </div>
      </nav>
    </div>
  </article>
</div>
